<html>
  <head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="wrapper">
      <h2>Crypto Watch</h2>
      <div class="menu">
        <a class="option" href="">Login</a>
        <a class="option" href="">Register</a>
      </div>
      <div class="login">
        <input class="login-inputbox" id="email" type="text" placeholder="Email">
        <br>
        <input class="login-inputbox" id="password" type="password" placeholder="Password">
        <br>
        <button id="submit-login" class="login-submit">Submit</button>
      </div>
      <div class="register">
        <input class="login-inputbox" id="email-register" type="text" placeholder="Email" v-model="emailRegister">
        <br>
        <input class="login-inputbox" id="password-register" type="password" placeholder="Password" v-model="passwordRegister">
        <br>
        <input class="login-inputbox" id="password-confirmation-register" type="password" placeholder="Confirm Password" v-model="confirmPasswordRegister">
        <br />
        <button class="login-submit" @click="sendToServer()">Submit</button>
      </div>
    </div>
    <script>
      new Vue({
        el: ".wrapper",
        data: {
          emailRegister: '',
          passwordRegister: '',
          confirmPasswordRegister: ''
        },
        methods: {
          sendToServer: function() {
            var payload = {};
            payload.email = this.emailRegister;
            payload.password = this.passwordRegister;
            url = 'http://localhost:3000/register/';
            console.log(url);
            console.log(payload);
            this.$http.post(url,payload).then(response => {
              console.log(response);
            });
          }
        }
      })
    </script>
  </body>
</html>
