<html>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <link rel="stylesheet" href="style.css">
  <div id="coin-wrapper" class="coin-wrapper">
    <input class="coin-input" type="text" v-model="coinName" @keydown.enter="add()">
    <button class="submit" @click="add()">Submit</button>
    <ul id="coinList">
      <li class="coin" v-for="coin in coins">
        <div class="box">
          <p class="name">{{coin.name}}</p>
          <hr>
          <p class="value">${{coin.price}}</p>
          <p class="label">price</p>
          <p class="value">#{{coin.rank}}</p>
          <p class="label">Rank by MarketCap</p>
          <p class="value"> {{coin.change1h}}%</p>
          <p class="label">Last 1 hour</p>
          <p class="value">{{coin.change24h}}%</p>
          <p class="label">Last 24 hours</p>
          <p class="value">{{coin.change7d}}%</p>
          <p class="label">Last 7 days</p>
        </div>
      </li>
    </ul>
  </div>
  <script>
  new Vue({
    el: '.coin-wrapper',
    data: {
      coinName: '',
      coins: []
    },
    methods: {
      add: function() {
        this.coinName = this.coinName.toLowerCase();
        url = "http://localhost:3000/watch" + '?' + 'coin=' + this.coinName;
        this.$http.get(url).then(res => {
          var temp = {};
          temp.id = res.body.id;
          temp.name = res.body.name;
          temp.price = res.body.price_usd;
          temp.rank = res.body.rank;
          temp.change1h = res.body.percent_change_1h;
          temp.change7d = res.body.percent_change_7d;
          temp.change24h = res.body.percent_change_24h;
          this.coins.push(temp);
        });
      }
    }
  })
</script>
</html>
